* {
  box-sizing: border-box;
}

body {
  background-color: #23252C;
  margin: 0;
}


#root {
  width: 20em;
  margin: 2em auto;
  font-family: 'Inter',Helvetica, sans-serif;
  background-color: #1A1B21;
  color:#FFFFFF;
  border-radius: 0 0 .625em .625em;

}

i {
  margin-right: .5em;
}

.info {
  text-align: center;

}

.info--image {
  width: 100%;
  border-radius: .625em .625em 0 0;
}

.info--name {
  font-size: 1.5625em;
}

.info--title {
  font-size: .8em;
  font-weight: lighter;
  color: #F3BF99;
}

.info--buttons {
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  column-gap: 1em;
}

.info--buttons--email, .info--buttons--linkedin{
  flex-basis: 100%;
  border-radius: .375em;
  border: none;
  margin: .5em 0;
  padding: .75em;
  font-size: .9em;
}

.info--buttons--email {
  background-color: #FFFFFF;
  color: #374151;
}

.info--buttons--linkedin {
  background-color: #5093e2;
  color:#FFFFFF;
}

.about-section {
  margin-left: 2em;
  margin-right: 2em;
}

.about--title {
  font-size: 1em;
  margin-bottom: .25em;

}

.about--content {
  font-size: .7em;
  margin-top: 0;

}

.interests-section {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.interests--title {
  font-size: 1em;
  margin-bottom: .25em;
}

.interests--content {
  font-size: .7em;
  margin-top: 0;
}

.footer-section {
  background-color: #161619;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-radius: 0 0 .625em .625em;

}
.footer--sitelink{
  width: 2em;
  height: 2em;
  cursor: pointer;
}










/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/